body {
    background: linear-gradient(120deg, #640026 0%, #51003f 100%),
        linear-gradient(120deg, #022a8d 0%, #00071a 100%),
        linear-gradient(180deg, #000224 0%, #ff0000 100%),
        linear-gradient(60deg, #021fad 0%, #aa0014 100%),
        radial-gradient(100% 165% at 100% 100%, #ff00a8 0%, #00ff47 100%),
        radial-gradient(100% 150% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: overlay, color-dodge, overlay, overlay, difference,
        normal;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Rubik", sans-serif;
}
#footer {
    color: #fff;
    width: 100%;
    bottom: 0px;
}
