body {
    /* background: linear-gradient(120deg, #640026 0%, #51003f 100%),
        linear-gradient(120deg, #052575 0%, #00071a 100%),
        linear-gradient(180deg, #000224 0%, #720707 100%),
        linear-gradient(60deg, #06176b 0%, #aa0014 100%),
        radial-gradient(100% 165% at 100% 100%, #ff00a8 0%, #00ff47 100%),
        radial-gradient(100% 150% at 0% 0%, #fff500 0%, #51d500 100%); */
    background-blend-mode: overlay, color-dodge, overlay, overlay, difference,
        normal;
    background-color: white;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Rubik", sans-serif;
}
#footer {
    color: #fff;
    width: 100%;
    bottom: 0px;
}

.category .card {
    border-radius: 20px;
    width: 50px;
    max-width: 50px;
}

.category img {
    max-width: 100px;
    width: 100px;
}

.discon .badge span {
    font-weight: 500;
    border-radius: 50px;
}

.img-product {
    margin-top: -25px;
    padding-top: -25px;
    top: -25px;
}
